@page
@model Disable2faModel
@{
    ViewData["Title"] = L["Disable two-factor authentication (2FA)"];
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>@L["This action only disables 2FA."]</strong>
    </p>
    <p>
        @L["Disabling 2FA does not change the keys used in authenticator apps."] @L["If you wish to change the key used in an authenticator app you should"] <a asp-page="./ResetAuthenticator">@L["reset your authenticator keys."]</a>
    </p>
</div>

<div>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
            <input asp-for="Input.Code" class="form-control" autocomplete="off" placeholder="@L["Authenticator code"]" />
            <label asp-for="Input.Code" class="form-label"></label>
            <span asp-validation-for="Input.Code" class="text-danger"></span>
        </div>
        <button class="btn btn-danger" type="submit">@L["Disable 2FA"]</button>
    </form>
</div>

<partial name="_ValidationScriptsPartial" />
