@page
@model Web.Areas.Admin.Pages.Roles.DeleteModel
@{
    ViewData["Title"] = L["Delete Role"];
}

<h1>@L["Delete Role"]</h1>

<h3>@L["Are you sure you want to delete this role?"]</h3>
<dl class="row">
    <dt class="col-sm-3">@L["Name"]</dt>
    <dd class="col-sm-9">@Model.AppRoleEntity.Name</dd>
    <dt class="col-sm-3">@L["Client"]</dt>
    <dd class="col-sm-9">@(Model.AppRoleEntity.Client?.Name ?? Model.AppRoleEntity.ClientId.ToString())</dd>
</dl>

<form method="post">
    <input type="hidden" asp-for="AppRoleEntity.Id" />
    <button type="submit" class="btn btn-danger">@L["Delete"]</button>
    <a asp-page="./Index" class="btn btn-outline-secondary">@L["Back"]</a>
</form>
