@page
@model Web.Areas.Admin.Pages.Roles.IndexModel
@{
    ViewData["Title"] = L["Roles"];
}

<h1>@L["Roles"]</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">@L["Create New"]</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>@L["Name"]</th>
        <th>@L["Client"]</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.AppRoleEntity)
    {
        <tr>
            <td>@item.Name</td>
            <td>@(item.Client?.Name ?? item.ClientId.ToString())</td>
            <td class="text-end">
                <a asp-page="./Edit" asp-route-id="@item.Id">@L["Edit"]</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">@L["Details"]</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">@L["Delete"]</a>
            </td>
        </tr>
    }
    </tbody>
</table>
