@page
@model Web.Areas.Admin.Pages.Roles.IndexModel
@{
    ViewData["Title"] = "Roles";
}

<h1>Roles</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Client</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.AppRoleEntity)
    {
        <tr>
            <td>@item.Name</td>
            <td>@(item.Client?.Name ?? item.ClientId.ToString())</td>
            <td class="text-end">
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
