@page
@model Web.Areas.Admin.Pages.Clients.DetailsModel
@{
    ViewData["Title"] = L["Client Details"];
}

<h1>@L["Client Details"]</h1>

<dl class="row">
    <dt class="col-sm-3">@L["Name"]</dt>
    <dd class="col-sm-9">@Model.ClientEntity.Name</dd>
    <dt class="col-sm-3">@L["Client ID"]</dt>
    <dd class="col-sm-9">@Model.ClientEntity.ClientId</dd>
    <dt class="col-sm-3">@L["Allowed Origins"]</dt>
    <dd class="col-sm-9">@Model.ClientEntity.AllowedOrigins</dd>
    <dt class="col-sm-3">@L["Active"]</dt>
    <dd class="col-sm-9">@Model.ClientEntity.IsActive</dd>
    <dt class="col-sm-3">@L["Registration Type"]</dt>
    <dd class="col-sm-9">@Model.ClientEntity.RegistrationType</dd>
</dl>

<a asp-page="./Edit" asp-route-id="@Model.ClientEntity.Id">@L["Edit"]</a> |
<a asp-page="./Index">@L["Back to List"]</a>
