@page
@model Web.Areas.Admin.Pages.Clients.IndexModel
@{
    ViewData["Title"] = L["Clients"];
}

<h1>@L["Clients"]</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">@L["Create New"]</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>@L["Name"]</th>
        <th>@L["Client ID"]</th>
        <th>@L["Allowed Origins"]</th>
        <th>@L["Active"]</th>
        <th>@L["Registration Type"]</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ClientEntity)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.ClientId</td>
            <td>@item.AllowedOrigins</td>
            <td>@item.IsActive</td>
            <td>@item.RegistrationType</td>
            <td class="text-end">
                <a asp-page="./Edit" asp-route-id="@item.Id">@L["Edit"]</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">@L["Details"]</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">@L["Delete"]</a>
            </td>
        </tr>
    }
    </tbody>
</table>
