@using Microsoft.AspNetCore.Identity
@using DTO.DataAccess.DTO
@inject SignInManager<AppUserEntity> SignInManager
@inject UserManager<AppUserEntity> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var userName = User.Identity?.Name ?? L["User"].Value;
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="@L["Manage"]">@L["HelloUser", userName]</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">@L["Logout"]</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Register">@L["Register"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">@L["Login"]</a>
        </li>
    }
</ul>
